* {
    box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li{
                 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    font-family: "Times New Roman";    
    background-color: #EFDECD;
}
.header{ 
    background-color: #f4f4f4;
    background-image: url("header.jpg");
    border-image: 2px solid black;
    display: block;
    height: 30%;
}
.header h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 30px 30px 30px 10px;
    clear: both;
}
#nav {
    background-color: #EFDECD;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    min-width: 768px;
    height: 15%;
    text-align: center;
}

.header, .wrapper{ 
    background-color: #EFDECD;
    min-width: 768px;
}
.aside h2 {
    font-size: 0.95em;
    margin-top: 15px;
}
.aside h3 {
    font-size: 0.85em;
    margin-top: 10px;
}
.aside p, .aside li {
    font-size: .75em;
    margin-top: 10px; 
    text-align: center; 
}
.aside li{ 
    list-style-type: none;
    display: block;
    border:3px;
    border-color: black; 
}
.aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    background-color: #f0decd;
    border:2px;
    border-color: black;
}
.aside h2, li a , p a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border:2px;
    border-color: black;
}
.aside li a, p a:hover {
    background-color:#FFCC99;
    color: white;
}
#sidebar1 {
    float: left;
    width: 20%; 
    padding: 0 10px 0 20px;
}
#sidebar2 {
    float: right;
    width: 20%; 
    padding: 0 20px 0 10px;
}
#article{
    background-color: #EFDECD;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
    width: 60%;
}
#article:after{
    clear:both;
    display:table;
    content:'';
}
#article h2{
    font-size: 1.3em;
    margin-bottom:15px;
}
#article p{
    line-height: 150%;
    margin-bottom: 15px;
}
#footer{ 
    border-top: 1px solid black;
    font-size: .8em;    
    text-align: center;
    padding: 10px 10px 30px 10px;
}
.header h1, .wrapper, #footer p {
    max-width: 1200px;
    margin: 0 auto; 
}
.wrapper, #nav, .header, #footer{
    min-width: 768px;
}
.cell {
    display: inline-block;
    width : 30%;
    min-width: 200px;
    background-color: lightgray;
    margin : 10px;
}
.ava{
    width: 30%;
    border: 3px groove black;
}
span{
    display: inline-block;
}
.form {
 background-color: #e0c3a8;
 border: 2px;
 border-color: black;
}
.form p{
    text-align: center;
}
.form h3{
    font-size: 1.3em;
}
.aside li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.aside li a:hover {
    background-color: #555;
    color: white;
}
